<div class='page_header'>

  <span class='page_header_title'><%= page_header_title %></span>

  <span class='header_nav_links'>
    <%= link_to 'Photos', root_path %> |
    <%= link_to 'Galleries', galleries_path %> |
    <%= link_to 'Tags', tags_path %>
  </span>

  <span class='search_container'>
    <%= render 'searches/form' %>
  </span>

</div>