<h1>Displaying photos</h1>
<%= link_to 'Galleries', galleries_path %>
<br/><br/>
<% @photos.each do |photo| %>

    <%= render "partials/photo", photo: photo %>

    <%= link_to 'Show', photo %>
    <%= link_to 'Edit', edit_photo_path(photo) %>
    <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br /><br />
<% end %>
<%= link_to 'New Photo', new_photo_path %>
