<h1>Displaying photos</h1>

<% @photos.each do |photo| %>

    <div class='photo_title'>
      <b><%= photo.title %></b>
    </div>

    <div>
      <% if photo.image != "" %>
        <%= image_tag photo.image, size: '384x240', class: 'photo_image' %>
      <% end %>
    </div>

    <div class='photo_tags'><b>Tags:</b>
      <%= photo.tag_list %>
    </div>

    <%= link_to 'Show', photo %>
    <%= link_to 'Edit', edit_photo_path(photo) %>
    <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br /><br />
<% end %>

<br />

<%= link_to 'New Photo', new_photo_path %>
