<p id="notice"><%= notice %></p>

<%= render "partials/photo", photo: @photo %>
<br />

Add to gallary:

<% select('@photo', '@photo.id', Gallary.all.collect {|g| [ g.name, g.id ] }, {prompt: 'Select Gallary'}) %>

<br />

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Front page', root_path %> |
<%= link_to 'Index', photos_path %>
