<%= render 'partials/header', page_header_title: "#{ @photo.title }" %>
<p id="notice"><%= notice %></p>

<%= render "partials/large_photo", photo: @photo %>
<%= render 'edit_form' %>

<div>
  <b>Member of galleries:</b>
  <% @photo.galleries.each do |gallery| %>
    <%= link_to gallery.name, gallery_path(gallery) %>
  <% end %>
</div>

<br />

<br />
