<p id="notice"><%= notice %></p>

<%= render "partials/photo", photo: @photo %>

<br />

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Front page', root_path %> |
<%= link_to 'Index', photos_path %>
