<%= form_for @gallary do |f| %>
  <% if @gallary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallary.errors.count, "error") %> prohibited this gallary from being saved:</h2>

      <ul>
      <% @gallary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p id="photo_list">
    <%= f.label :photo_ids, "Photos" %><br/>
    <%= f.collection_select :photo_ids, Photo.order(:title), :id, :title, {}, {multiple:true} %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>

  <br />

<% end %>
