<h1>Listing gallaries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gallaries.each do |gallary| %>
  <tr>
    <td><%= gallary.name %></td>
    <td><%= link_to 'Show', gallary %></td>
    <td><%= link_to 'Edit', edit_gallary_path(gallary) %></td>
    <td><%= link_to 'Destroy', gallary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Front page', root_path %> |
<%= link_to 'New Gallary', new_gallary_path %>
