<p id="notice"><%= notice %></p>

<h1>Gallary</h1>

<div>
  <h2>Name: <%= @gallary.name %></h2>
</div>

<div id='member_photos'>
  <% @gallary.photos.each do |photo| %>
    <%= render "partials/photo", photo: photo %>
  <% end %>
</div>

<br />
<br />

<%= link_to 'Edit', edit_gallary_path(@gallary) %> |
<%= link_to 'Index', gallaries_path %>
