<%= render 'partials/header', page_header_title: "#{ @gallery.name } gallery" %>

<p id="notice"><%= notice %></p>


<div>
  <h2>Name: <%= @gallery.name %></h2>
</div>

<div id='member_photos'>
  <% @gallery.photos.each do |photo| %>
    <%= render 'partials/gallery_photo', photo: photo %>
  <% end %>
</div>

<div class='nav_bar'>
  <%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %> |
  <%= link_to 'Galleries Index', galleries_path %>
</div>